<div class="container">
  <h1>Comics</h1>
  <ngb-pagination class="ng-pagination" [collectionSize]="70" [(page)]="page"
  (pageChange)='oNpageChange($event)'></ngb-pagination>
  <div class="row cards-row">
    <ng-container *ngFor = "let comic of comics">
      <app-comic-card  class = 'card col-6' [product] = comic></app-comic-card>
    </ng-container>
  </div>
  <ngb-pagination class="ng-pagination" [collectionSize]="70" [(page)]="page"
   (pageChange)='oNpageChange($event)'></ngb-pagination>
</div>
