@import '../../../../globals.scss';
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 1em 2em 1em 2em;
  background-color: $secondary ;
  color : #fff !important ;
  &__title{
    color : #fff !important ;
    &:hover{
      text-decoration: none
    }
  }
  &__link{
    color : #fff !important ;
    padding: 0rem 0.5rem 0rem 0.5rem;
    border-bottom: 10px;
    border-color: #fff;
    &:hover{
      text-decoration: none
    }
  }
}