<div class="card__link" (click)="open(content)">
  <img class="card__link__image" src={{serieThumbnail}} alt={{serieThumbnail}}>
</div>
<div class="card__body">
  <h1 class="card__body__title"> {{serie?.title}} </h1>
  <p class="card__body__description">{{(serie?.description | slice:0:150) || 'Not Description yet' }}</p>
  <p class="card__body__format">{{serie?.type || "Unkown"}}</p>
</div>



<ng-template #content let-modal>
  <app-series-modal [serie]= serie>  
  </app-series-modal>
</ng-template>

<hr>

<pre>{{ closeResult }}</pre>