.home{
  display: flex;
  justify-content: space-around;
  padding: 1em 2em 2em 1em;
  &__link{
    width: 20rem; /* width of container */
    margin: 1rem;
    &__image{
      width: 100%;
      aspect-ratio: 9/10;
      object-fit: cover;
   
      filter: brightness(10%);
      &:hover{
        filter: brightness(20%);
      }

    }
  }
}